<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLCT_May.Properties.Settings.QLCHConnectionString"
            connectionString="Data Source=BAROS-NEVADEPRE\SQLEXPRESS;Initial Catalog=QLCH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLCT_May.Properties.Settings.QLCHConnectionString1"
            connectionString="Data Source=508-19;Initial Catalog=QLCH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>